<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/style.css"> 
</head>
<body>
    <div class="login-container">
        <h1>Login to Your Account</h1>

        <form id="login-form">
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="Enter your email-id" required>

            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="Enter your password" maxlength="14" required>

            <button type="submit" class="submit-button">Login</button> <br> <br>
            <p>
                <a href="forgot-password.html" style="color: #007bff; text-decoration: underline;">Forgot Password?</a>
            </p>            

            <p>Don't have an account? 
                <button type="button" class="signup-btn" onclick="window.location.href='signup.html'">Sign Up</button>
            </p>
        </form>
    </div>

    <script src="/scripts/script.js"></script>  <!-- Linking external JS file -->
</body>
</html>
